---
title: "Author: Tuan Duc Design"
layout: default
permalink: "/author/tuanducdesign"
---

<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-12 text-center">
                <link rel="preload" href="{{ site.authors.tuanducdesign.photo }}" as="image" />
                {% if site.lazyimages == "enabled" %}
                <img class="rounded-circle fade" data-src="{{ site.authors.tuanducdesign.photo }}" alt="{{ site.authors.tuanducdesign.name }}" loading="lazy" decoding="async" width="100" height="100" />
                {% else %}
                <img class="rounded-circle" src="{{ site.authors.tuanducdesign.photo }}" alt="{{ site.authors.tuanducdesign.name }}" width="100" height="100" /> 
                {% endif %}
                <h2 class="font-weight-bold">{{ site.authors.tuanducdesign.name }} <span class="small"><a class="btn follow" href="https://www.facebook.com/{{ site.authors.tuanducdesign.facebook }}" title="Follow" target="_blank" rel="nofollow noopener">Follow</a></span></h2>
                <p><a href="{{ site.authors.tuanducdesign.web }}" title="{{ site.authors.tuanducdesign.web }}">{{ site.authors.tuanducdesign.web }}</a></p>
                <p class="excerpt">{{ site.authors.tuanducdesign.description }}</p>
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Posts by {{ site.authors.tuanducdesign.name }}</span></h4>
            {% assign posts = site.posts | where:"author","tuanducdesign" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>