# htacces optimize
# ------------------------------------------------------------------------------
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>

RewriteRule ^category/cdn$ /categories#CDN [R=301,L]
RewriteRule ^category/css$ /categories#CSS [R=301,L]
RewriteRule ^category/html$ /categories#HTML [R=301,L]
RewriteRule ^category/javascript$ /categories#Javascript [R=301,L]
RewriteRule ^category/library$ /categories#Library [R=301,L]
RewriteRule ^category/seo$ /categories#SEO [R=301,L]
RewriteRule ^category/series$ /categories#Series [R=301,L]
RewriteRule ^category/server$ /categories#Server [R=301,L]
RewriteRule ^category/website$ /categories#Website [R=301,L]

RewriteRule ^tag/adblock$ /tags#Adblock [R=301,L]
RewriteRule ^tag/ads$ /tags#Ads [R=301,L]
RewriteRule ^tag/adsense$ /tags#Adsense [R=301,L]
RewriteRule ^tag/allowlist$ /tags#Allowlist [R=301,L]
RewriteRule ^tag/analytics$ /tags#Analytics [R=301,L]
RewriteRule ^tag/apps$ /tags#Apps [R=301,L]
RewriteRule ^tag/blocked-domains$ /tags#Blocked-Domains [R=301,L]
RewriteRule ^tag/blocked-reasons$ /tags#Blocked-Reasons [R=301,L]
RewriteRule ^tag/blocklists$ /tags#Blocklists [R=301,L]
RewriteRule ^tag/browers$ /tags#Browers [R=301,L]
RewriteRule ^tag/cdn$ /tags#CDN [R=301,L]
RewriteRule ^tag/css$ /tags#CSS [R=301,L]
RewriteRule ^tag/chrome-os$ /tags#Chrome-OS [R=301,L]
RewriteRule ^tag/cloudflare$ /tags#Cloudflare [R=301,L]
RewriteRule ^tag/dns$ /tags#DNS [R=301,L]
RewriteRule ^tag/deferjs$ /tags#DeferJS [R=301,L]
RewriteRule ^tag/denylist$ /tags#Denylist [R=301,L]
RewriteRule ^tag/devices$ /tags#Devices [R=301,L]
RewriteRule ^tag/encrypted-dns$ /tags#Encrypted-DNS [R=301,L]
RewriteRule ^tag/facebook$ /tags#Facebook [R=301,L]
RewriteRule ^tag/font$ /tags#Font [R=301,L]
RewriteRule ^tag/framework$ /tags#Framework [R=301,L]
RewriteRule ^tag/frameworks$ /tags#Frameworks [R=301,L]
RewriteRule ^tag/gafam-dominance$ /tags#GAFAM-Dominance [R=301,L]
RewriteRule ^tag/games$ /tags#Games [R=301,L]
RewriteRule ^tag/github$ /tags#Github [R=301,L]
RewriteRule ^tag/google$ /tags#Google [R=301,L]
RewriteRule ^tag/google-fonts$ /tags#Google-Fonts [R=301,L]
RewriteRule ^tag/ios$ /tags#IOS [R=301,L]
RewriteRule ^tag/ips$ /tags#IPs [R=301,L]
RewriteRule ^tag/iframe$ /tags#Iframe [R=301,L]
RewriteRule ^tag/image$ /tags#Image [R=301,L]
RewriteRule ^tag/java-script$ /tags#JavaScript [R=301,L]
RewriteRule ^tag/javascript$ /tags#Javascript [R=301,L]
RewriteRule ^tag/less$ /tags#LESS [R=301,L]
RewriteRule ^tag/layout$ /tags#Layout [R=301,L]
RewriteRule ^tag/lazyload$ /tags#Lazyload [R=301,L]
RewriteRule ^tag/linux$ /tags#Linux [R=301,L]
RewriteRule ^tag/logs$ /tags#Logs [R=301,L]
RewriteRule ^tag/mac-os$ /tags#MacOS [R=301,L]
RewriteRule ^tag/map$ /tags#Map [R=301,L]
RewriteRule ^tag/modem$ /tags#Modem [R=301,L]
RewriteRule ^tag/module$ /tags#Module [R=301,L]
RewriteRule ^tag/network$ /tags#Network [R=301,L]
RewriteRule ^tag/next-dns$ /tags#NextDNS [R=301,L]
RewriteRule ^tag/nginx$ /tags#Nginx [R=301,L]
RewriteRule ^tag/page-speed$ /tags#PageSpeed [R=301,L]
RewriteRule ^tag/pagespeed$ /tags#Pagespeed [R=301,L]
RewriteRule ^tag/parental-control$ /tags#Parental-Control [R=301,L]
RewriteRule ^tag/post-css$ /tags#PostCSS [R=301,L]
RewriteRule ^tag/preload$ /tags#Preload [R=301,L]
RewriteRule ^tag/queries$ /tags#Queries [R=301,L]
RewriteRule ^tag/requests$ /tags#Requests [R=301,L]
RewriteRule ^tag/resolved-domains$ /tags#Resolved-Domains [R=301,L]
RewriteRule ^tag/responsive$ /tags#Responsive [R=301,L]
RewriteRule ^tag/restrict$ /tags#Restrict [R=301,L]
RewriteRule ^tag/root-domains$ /tags#Root-Domains [R=301,L]
RewriteRule ^tag/routers$ /tags#Routers [R=301,L]
RewriteRule ^tag/scss$ /tags#SCSS [R=301,L]
RewriteRule ^tag/seo$ /tags#SEO [R=301,L]
RewriteRule ^tag/sass$ /tags#Sass [R=301,L]
RewriteRule ^tag/script$ /tags#Script [R=301,L]
RewriteRule ^tag/server$ /tags#Server [R=301,L]
RewriteRule ^tag/settings$ /tags#Settings [R=301,L]
RewriteRule ^tag/staticaly$ /tags#Staticaly [R=301,L]
RewriteRule ^tag/style$ /tags#Style [R=301,L]
RewriteRule ^tag/stylus$ /tags#Stylus [R=301,L]
RewriteRule ^tag/theme$ /tags#Theme [R=301,L]
RewriteRule ^tag/title$ /tags#Title [R=301,L]
RewriteRule ^tag/traffic-destination$ /tags#Traffic-Destination [R=301,L]
RewriteRule ^tag/twitter$ /tags#Twitter [R=301,L]
RewriteRule ^tag/tang-tốc$ /tags#Tăng-tốc [R=301,L]
RewriteRule ^tag/tối-ưu$ /tags#Tối-ưu [R=301,L]
RewriteRule ^tag/vps$ /tags#VPS [R=301,L]
RewriteRule ^tag/video$ /tags#Video [R=301,L]
RewriteRule ^tag/websites$ /tags#Websites [R=301,L]
RewriteRule ^tag/windows$ /tags#Windows [R=301,L]
RewriteRule ^tag/word-press$ /tags#WordPress [R=301,L]
RewriteRule ^tag/zalo$ /tags#Zalo [R=301,L]
RewriteRule ^tag/bảo-mật$ /tags#bảo-mật [R=301,L]
RewriteRule ^tag/dgas$ /tags#dgas [R=301,L]
RewriteRule ^tag/nrds$ /tags#nrds [R=301,L]
RewriteRule ^tag/tlds$ /tags#tlds [R=301,L]
# End htaccess
