<link rel="preload" href="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{site.adsense-data-ad-client}}" as="script" />
<link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
<link rel="preconnect" href="https://pagead2.googlesyndication.com" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{site.adsense-data-ad-client}}" crossorigin="anonymous" data-turbolinks-track="true"></script>
<!-- ADS Horizontal -->
<ins class="adsbygoogle" style="display:block" data-ad-client="{{site.adsense-data-ad-client}}" data-ad-slot="{{site.adsense-data-ad-slot}}" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>