<link rel="preload" href="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" as="script" />
<script async="async" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
<link rel="preconnect" href="https://pagead2.googlesyndication.com" />
<!-- Under Header -->
<ins class="adsbygoogle" style="display:block" data-ad-client="{{site.adsense-data-ad-client}}" data-ad-slot="{{site.adsense-data-ad-slot}}" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>
<br/>