<link rel="preload" href="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" as="script" />
<link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
<link rel="preconnect" href="https://pagead2.googlesyndication.com" />
<!-- Under Header -->
<ins class="adsbygoogle" style="display:block" data-ad-client="{{site.adsense-data-ad-client}}" data-ad-slot="{{site.adsense-data-ad-slot}}" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>(adsbygoogle=window.adsbygoogle||[]).push({});function td_adsense(){var t=document.createElement("script");t.async=!0,t.defer=!0,t.src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js",document.body.appendChild(t)}window.addEventListener?window.addEventListener("load",td_adsense,!1):window.attachEvent?window.attachEvent("onload",td_adsense):window.onload=td_adsense;</script>
<br/>