<link rel="preload" href="//{{site.disqus}}.disqus.com/embed.js" as="script" />
<link rel="dns-prefetch" href="//{{site.disqus}}.disqus.com" />
<link rel="dns-prefetch" href="//disqus.com" />
<link rel="preconnect" href="https://{{site.disqus}}.disqus.com" />
<link rel="preconnect" href="https://disqus.com" />
<section class="disqus">
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="//disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>