<link rel="preload" href="//{{site.disqus}}.disqus.com/embed.js" as="script" />
<link rel="dns-prefetch" href="//{{site.disqus}}.disqus.com" />
<link rel="dns-prefetch" href="//disqus.com" />
<link rel="preconnect" href="https://{{site.disqus}}.disqus.com" />
<link rel="preconnect" href="https://disqus.com" />
<section class="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_loaded = false;
        var disqus_shortname = '{{site.disqus}}';
        function load_disqus () {
          disqus_loaded = true;
          var dsq = document.createElement('script');
          dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }
        window.onscroll = function(e) {
          var   currentScroll = (window.innerHeight + window.scrollY)
              , elScroll = document.getElementById('disqus_thread').offsetTop;
          if (currentScroll >= elScroll && disqus_loaded == false) {
            load_disqus()
          }
        };
    </script>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="//disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>