<!-- Begin Footer-->
<footer class="footer" itemscope="itemscope" itemtype="https://schema.org/WPFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                Copyright © <span itemprop="copyrightYear">{{ site.time | date: "%Y" }}</span> - 
                <span itemprop="copyrightHolder" itemscope="itemscope" itemtype="https://schema.org/Organization">
                    <a href="{{ site.url }}/" itemprop="url" title="{{ site.name }}" data-remote="true">
                        <span itemprop="name">{{ site.name }}</span>
                    </a> - All Rights Reserved.
                </span>
                <div class="socials" itemscope="itemscope" itemtype="https://schema.org/Organization">
                    <meta itemprop="url" href="{{ site.url }}/" />
                    <meta itemprop="logo" href="{{ site.logo }}" />
                    <meta itemprop="telephone" content="+84-038-884-2026" />
                    <meta itemprop="name" content="{{ site.name }}" />
                    <a rel="nofollow noopener noreferrer" target="_blank" href="https://twitter.com/tuanducdesign/" data-toggle="tooltip" data-placement="top" title="Twitter" itemprop="sameAs">
                        <i class="bi bi-twitter" aria-hidden="true"></i>
                    </a>
                    <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.facebook.com/tuanduc.support/" data-toggle="tooltip" data-placement="top" title="Facebook" itemprop="sameAs">
                        <i class="bi bi-facebook" aria-hidden="true"></i>
                    </a>
                    <a rel="nofollow noopener noreferrer" target="_blank" href="https://instagram.com/mi.profile.56/" data-toggle="tooltip" data-placement="top" title="Instagram" itemprop="sameAs">
                        <i class="bi bi-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->