    <meta charset="utf-8" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="{{ site.title }}" />
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
    <meta name="msapplication-starturl" content="{{ site.url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="theme-color" content="#fe2c55" />
    <link rel="icon" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.favicon }}{% else %}{{ site.favicon }}{% endif %}" />
    <link rel="apple-touch-icon" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{% endif %}{{ site.apple-touch-icon }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-57x57 }}{% else %}{{ site.apple-touch-icon-57x57 }}{% endif %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-72x72 }}{% else %}{{ site.apple-touch-icon-72x72 }}{% endif %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-76x76 }}{% else %}{{ site.apple-touch-icon-76x76 }}{% endif %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-114x114 }}{% else %}{{ site.apple-touch-icon-114x114 }}{% endif %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-120x120 }}{% else %}{{ site.apple-touch-icon-120x120 }}{% endif %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-144x144 }}{% else %}{{ site.apple-touch-icon-144x144 }}{% endif %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-152x152 }}{% else %}{{ site.apple-touch-icon-152x152 }}{% endif %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-180x180 }}{% else %}{{ site.apple-touch-icon-180x180 }}{% endif %}" />
    <link rel="icon" type="image/png" sizes="57x57" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-57x57 }}{% else %}{{ site.apple-touch-icon-57x57 }}{% endif %}" />
    <link rel="icon" type="image/png" sizes="72x72" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-72x72 }}{% else %}{{ site.apple-touch-icon-72x72 }}{% endif %}" />
    <link rel="icon" type="image/png" sizes="76x76" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-76x76 }}{% else %}{{ site.apple-touch-icon-76x76 }}{% endif %}" />
    <link rel="icon" type="image/png" sizes="114x114" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-114x114 }}{% else %}{{ site.apple-touch-icon-114x114 }}{% endif %}" />
    <link rel="icon" type="image/png" sizes="120x120" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-120x120 }}{% else %}{{ site.apple-touch-icon-120x120 }}{% endif %}" />
    <link rel="icon" type="image/png" sizes="144x144" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-144x144 }}{% else %}{{ site.apple-touch-icon-144x144 }}{% endif %}" />
    <link rel="icon" type="image/png" sizes="152x152" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-152x152 }}{% else %}{{ site.apple-touch-icon-152x152 }}{% endif %}" />
    <link rel="icon" type="image/png" sizes="180x180" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}{{ site.apple-touch-icon-180x180 }}{% else %}{{ site.apple-touch-icon-180x180 }}{% endif %}" />
    <!-- Preload file -->
    {% if site.analytics == "enabled" %}
    {% if site.google_analytics %}
    <link rel="preload" href="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}" as="script" />
    {% endif %}
    {% endif %}
    {% if site.chat == "enabled" %}
    {% if site.fanpage-chat %}
    <link rel="preload" href="https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js" as="script" />
    {% endif %}
    {% endif %}
    <link rel="preload" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}/assets/fonts/bootstrap-icons.woff2{% else %}/assets/fonts/bootstrap-icons.woff2{% endif %}" as="font" type="font/woff2" crossorigin="crossorigin" />
    <link rel="preload" href="{% if site.cdn == "enabled" %}{{site.cdn-url}}/assets/fonts/bootstrap-icons.woff2{% else %}/assets/fonts/bootstrap-icons.woff{% endif %}" as="font" type="font/woff" crossorigin="crossorigin" />
    {% if site.adsense == "enabled" %}
    <link rel="preload" href="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{site.adsense-data-ad-client}}" as="script" />
    {% endif %}
    <!-- Prefetch Domain -->
    {% if site.chat == "enabled" %}
    {% if site.fanpage-chat %}
    <link rel="dns-prefetch" href="//static.xx.fbcdn.net" />
    <link rel="dns-prefetch" href="//connect.facebook.net" />
    <link rel="dns-prefetch" href="//www.facebook.com" />
    <link rel="dns-prefetch" href="//graph.facebook.com" />
    <link rel="dns-prefetch" href="//static.xx.fbcdn.net" />
    <link rel="dns-prefetch" href="//staticxx.facebook.com" />
    {% endif %}
    {% endif %}
    {% if site.adsense == "enabled" %}
    <link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
    {% endif %}
    {% if site.analytics == "enabled" %}
    {% if site.google_analytics %}
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//www.googletagmanager.com" />
    {% endif %}
    {% endif %}
    {% if site.cdn == "enabled" %}
    <link rel="dns-prefetch" href="//cdn.tuanducdesign.com" />
    {% endif %}
    <!-- Preconnect Domain -->
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
    {% if site.chat == "enabled" %}
    {% if site.fanpage-chat %}
    <link rel="preconnect" href="https://static.xx.fbcdn.net" />
    <link rel="preconnect" href="https://connect.facebook.net" />
    <link rel="preconnect" href="https://www.facebook.com" />
    <link rel="preconnect" href="https://graph.facebook.com" />
    <link rel="preconnect" href="https://static.xx.fbcdn.net" />
    <link rel="preconnect" href="https://staticxx.facebook.com" />
    {% endif %}
    {% endif %}
    {% if site.analytics == "enabled" %}
    {% if site.google_analytics %}
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    {% endif %}
    {% endif %}
    {% if site.adsense == "enabled" %}
    <link rel="preconnect" href="https://pagead2.googlesyndication.com" />
    {% endif %}
    <!-- Style -->
    {% capture app %}
      {% include app.scss %}
    {% endcapture %}
     <style type="text/css">{{ app | scssify }}@font-face{font-family:"bootstrap-icons";src:url("{% if site.cdn == "enabled" %}{{site.cdn-url}}/assets/fonts/bootstrap-icons.woff2{% else %}/assets/fonts/bootstrap-icons.woff2{% endif %}")format("woff2"),url("{% if site.cdn == "enabled" %}{{site.cdn-url}}/assets/fonts/bootstrap-icons.woff2{% else %}/assets/fonts/bootstrap-icons.woff{% endif %}")format("woff");font-display:optional}</style>