<link rel="preload" href="{{ site.url }}/static/media/{{ include.src }}" as="image" />
<figure class="figure">
{% if site.lazyimages == "enabled" %}
<img class="fade mx-auto d-block" data-src="{{ site.url }}/static/media/{{ include.src }}" alt="{{ include.alt }}" loading="lazy" decoding="async" />
{% else %}
<img class="mx-auto d-block" src="{{ site.url }}/static/media/{{ include.src }}" alt="{{ include.alt }}" />
{% endif %}
<figcaption class="figure-caption text-center">{{ include.alt }}</figcaption>
</figure>