<div class="share-wrapper">
    <div class="share-content">
      <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
        <i class="fab fa-twitter"></i>
          <span>Share on Twitter</span>
      </a>
      <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;" title="Share on Facebook">
        <i class="fab fa-facebook-f"></i>
        <span>Share on Facebook</span>
      </a>
      <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;" title="Share on Linkedin">
        <i class="fab fa-linkedin-in"></i>
        <span>Share on Linkedin</span>
      </a>
      {% if page.comments != false %}
      <a href="#disqus_thread" title="Disqus Thread">
        <i class="fas fa-comments"></i>
        <span>Disqus Thread</span>
      </a>
      {% endif %}
    </div>
    <a class="btn-share">
      <div class="animated infinite zoomIn share-circle"></div>
            <div class="animated infinite pulse share-circle-fill"></div>
      <i class="fa fa-share" aria-hidden="true"></i>
    </a>
</div>