<div class="row py-2 ">
    <!--Breaking box-->
    <div class="col-1 col-md-3 col-lg-2 py-1 pr-md-0 mb-md-1">
        <div class="d-inline-block d-md-block bg-primary text-white text-center breaking-caret py-1 px-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
                <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"/>
              </svg>
            <span class="d-none d-md-inline-block">Top Articles</span>
        </div>
    </div>
    <!--Breaking content-->
    <div class="col-11 col-md-9 col-lg-10 pl-auto pl-md-auto">
        <div class="breaking-box pt-2 pb-1">
            <!--marque-->
            <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseleave="this.start();">
                {% for article in site.top_articles %}
                <a class="h6 font-weight-light" href="{{article.url}}" title="{{{article.title}}"><span class="position-relative mx-2 badge badge-primary rounded-0">{{article.category}}</span> {{article.title}}</a>
                {% endfor %}
            </marquee>
        </div>
    </div>
</div>