--- 
# Add a comment to make this file sass-y. 
# Change this file for any custom CSS. 
--- 

.post-excerpt p {
    display: inline;
}

.nav-up {
    top: 0 !important;
}

.card-body .card-title a {
    color: #4c5267 !important;

    &:focus,
    &:hover {
        color: #fe2c55 !important
    }
}

.article-post a {
    color: #fe2c55 !important;

    &:focus,
    &:hover {
        color: #fe9c55 !important
    }
}

.layout-post {
    .main-content {
        max-width: 66.875rem;
        margin-left: auto;
        margin-right: auto;
        
        h1 {
            font-weight: 600;
            font-size: 2.26563rem;
        }
        p {
            font-size: 1.01953rem;
            line-height: 1.89844rem;
            margin-bottom: 1.89844rem;
        }
    }
    .article-post {
        max-width: 46.875rem;
        padding: 0;
        margin: 0 auto;
    }

    .article-post h2 {
        position: relative;

        &:before,
        &:after {
            content: "";
            height: .125rem;
            position: absolute;
            top: 100%;
            left: 0
        }

        &:before {
            width: 100%;
            background-color: #efefef
        }
    }

    h2:after {
        width: 3.125rem;
        margin: auto;
        background-color: #fe2c55
    }
}

.post-author a {
    color: #fe2c55;

    &:focus,
    &:hover {
        color: #fe9c55
    }
}

@media (min-width:992px) {
    .navbar-nav>.active {
        position: relative;

        &:before {
            content: '';
            background-color: #fe2c55;
            width: 100%;
            top: 121%;
            left: 0;
            position: absolute;
            height: .125rem
        }
    }
}

article .card {
    border: 1px solid #ebecf0;
    box-shadow: 0 3px 10px 0 #4c52671a;
}

.next-post {
    -moz-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    -webkit-transition: all .3s ease-in-out !important;
    align-items: center;
    background: #fff;
    display: flex !important;
    font-size: 14px !important;
    height: 40px;
    justify-content: flex-end;
    max-width: 40px;
    overflow: hidden;
    padding: 0 13px;
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-in-out !important;
    z-index: 9;
    box-shadow: 0 0 1px #00000014, 0 2px 4px #00000008 !important;
    border: 1px solid #1b1f2326 !important;
    border-radius: 25px !important;
    line-height: unset !important;
}

.prev-post {
    -moz-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    -webkit-transition: all .3s ease-in-out !important;
    align-items: center;
    background: #fff;
    display: flex !important;
    font-size: 14px !important;
    height: 40px;
    justify-content: flex-end;
    max-width: 40px;
    overflow: hidden;
    padding: 0 13px;
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-in-out !important;
    z-index: 9;
    box-shadow: 0 0 1px #00000014, 0 2px 4px #00000008 !important;
    border: 1px solid #1b1f2326 !important;
    border-radius: 25px !important;
    line-height: unset !important;
    justify-content: flex-start;
    left: 30px;
    right: auto;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
}

.next-post {
    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    &:hover {
        max-width: 500px
    }
}

.prev-post:hover {
    max-width: 500px;
}

.next-post i {
    font-size: 16px;
    margin-left: 13px;
}

.prev-post i {
    font-size: 16px;
    margin-left: 13px;
    margin-left: 0;
    margin-right: 13px;
}