---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* Font-face */
@font-face {
    font-family: "bootstrap-icons";
    src: url("../fonts/bootstrap-icons.woff2") format("woff2"), url("../fonts/bootstrap-icons.woff") format("woff");
    font-display:swap;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"app"
;
