---
layout: default
title: Archive
---
<nav aria-label="breadcrumb" class="nav-down" style="top: 0px;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ site.url }}" title="Home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Archive</li>
    </ol>
</nav>
<!-- Begin List Posts-->
<section class="recent-posts">
<div class="section-title">
    <h2>Archive of posts with <span>{{ page.type }} '{{ page.title }}'</span></h2>
</div>
<div class="row listrecent">
{% for post in page.posts %}
    {% include postbox.html %}
{% endfor %}
</div>
</section>