<!DOCTYPE html>
<html lang="en">
<head itemscope="itemscope" itemtype="https://schema.org/WebSite">
  {% feed_meta %}
  <title>{% if page.url == "/" %}{{site.name}} - {{site.subtitle}}{% else %}{{ page.title }} - {{site.name}}{% endif %}</title>
  {% seo title=false %}
  {% include_cached head.html %}
</head>
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{layout}}" itemscope="itemscope" itemtype="https://schema.org/WebPage">
  {% include_cached navigation.html %}
  <div class="site-content">
    <main class="container" role="main">
      <!-- Content  -->
      <div class="main-content">
        {{ content }}
      </div>
    </main>
    {% include_cached footer.html %}
  </div>
  <!-- /.site-content -->
  {% if site.fanpage-chat %}
  <!-- Messenger Plugin chat -->
  <div id="fb-root"></div>
  <div class="fb-customerchat" attribution="biz_inbox" page_id="{{site.fanpage-chat}}" data-lazy="true"></div>
  {% endif %}
  <!-- Javascript -->
  <script src="{{ site.url }}/assets/js/bundle.min.js" defer="1"></script>
</body>
</html>