<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="https://schema.org/WebSite">
    <title>{% if page.tag or page.title %}{% if page.tag %}{{ page.tag | escape }}{% else %}{{ page.title | escape }}{% endif %} - {% endif %}{% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}Page {{ paginator.page }} of {{ paginator.total_pages }} - {% endif %}{{ site.name | escape }}</title>
    {% seo title=false %}
    {% feed_meta %}
    {% include head.html %}
    {% if site.chat == "enabled" %}
    {% if site.fanpage-chat %}
	<script>window.fbAsyncInit=function(){FB.init({xfbml:!0,version:"v10.0"})};</script>
	<script src="https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js" async defer></script>
    {% endif %}
    {% endif %}
    {% if site.analytics == "enabled" %}
    {% if site.google_analytics %}
	<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','{{site.google_analytics}}');</script>
	<script src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}" async defer></script>
    {% endif %}
    {% endif %}
    {% if site.adsense == "enabled" %}
    <script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{site.adsense-data-ad-client}}" async defer></script>
    {% endif %}
</head>
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{layout}}" itemscope itemtype="https://schema.org/WebPage">
  <div class="site-content" tabindex="0">
    {% include navigation.html %}
    <main class="container" role="main">
      <!-- Content  -->
      <div class="main-content">
        {{ content }}
      </div>
    </main>
    {% include_cached footer.html %}
  </div>
  <!-- /.site-content -->
  {% if site.chat == "enabled" %}
  {% if site.fanpage-chat %}
  <!-- Messenger Plugin chat -->
  <div id="fb-root"></div>
  <div class="fb-customerchat" attribution="biz_inbox" page_id="{{site.fanpage-chat}}" data-lazy="true" greeting_dialog_display="icon"></div>
  {% endif %}
  {% endif %}
      <!-- Script -->
    <script src="{% if site.cdn == "enabled" %}{{site.cdn-url}}/assets/javascripts/jquery.min.js{% else %}/assets/javascripts/jquery.min.js{% endif %}" defer></script>
    <script src="{% if site.cdn == "enabled" %}{{site.cdn-url}}/assets/javascripts/bootstrap.bundle.min.js{% else %}/assets/javascripts/bootstrap.bundle.min.js{% endif %}" defer></script>
    <script src="{% if site.cdn == "enabled" %}{{site.cdn-url}}/assets/javascripts/plugins.min.js{% else %}/assets/javascripts/plugins.min.js{% endif %}" defer></script>
    <script src="{% if site.cdn == "enabled" %}{{site.cdn-url}}/assets/javascripts/instantpage.min.js{% else %}/assets/javascripts/instantpage.min.js{% endif %}" type="module" defer></script>
    <script>
     document.body.addEventListener('load', (e) => {
         if (e.target.tagName != 'IMG') {
            return;
        }
        // Remove the blurry placeholder.
        e.target.style.backgroundImage = 'none';
     },
        /* capture */ true
     );
    </script>
</body>
</html>
