---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="https://schema.org/WebSite">
    <!-- Meta tag seo -->
    {% feed_meta %}
    <title>{% if page.tag or page.title %}{% if page.tag %}{{ page.tag | escape }}{% else %}{{ page.title | escape }}{% endif %} - {% endif %}{% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}Page {{ paginator.page }} of {{ paginator.total_pages }} - {% endif %}{{ site.name | escape }}{% unless page.tag or page.title %} - {{ site.description | escape }}{% endunless %}</title>
    {% seo title=false %}
    {% include head.html %}
</head>
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{layout}}" itemscope itemtype="https://schema.org/WebPage">
  <div class="site-content" tabindex="0">
    {% include navigation.html %}
    <main class="container" role="main">
      <!-- Content  -->
      <div class="main-content">
        {{ content }}
      </div>
    </main>
    {% include_cached footer.html %}
  </div>
  <!-- /.site-content -->
  {% if site.fanpage-chat %}
  <!-- Messenger Plugin chat -->
  <div id="fb-root"></div>
  <div class="fb-customerchat" attribution="biz_inbox" page_id="{{site.fanpage-chat}}" data-lazy="true" greeting_dialog_display="icon"></div>
  {% endif %}
  <!-- Javascript -->
  <script src="/assets/js/jquery.min.js" data-turbolinks-track="reload"></script>
  <script src="/assets/js/turbolinks.min.js" data-turbolinks-suppress-warning></script>
  <script src="/assets/js/bootstrap.bundle.min.js" data-turbolinks-track="reload"></script>
  <script src="/assets/js/defer.min.js" data-turbolinks-track="reload"></script>
  <script src="/assets/js/main.min.js" data-turbolinks-track="reload"></script>
  <script src="/assets/js/instantpage.min.js" type="module" defer></script>
</body>
</html>
