---
layout: default
disqus: false
archive: false
post_class: post-template
---
<!-- Begin Article -->
<article class="container" itemscope itemtype="https://schema.org/Article">
    <div class="row">
        <!-- Post -->
        {% assign author = site.authors[page.author] %}
        <div class="col-md-12 flex-first flex-md-unordered">
            <div class="mainheading text-center">
                <!-- Post Title -->
                <h1 class="posttitle" itemprop="name">{{ page.title }}</h1>
                <p>
                <!-- Post Author -->
                {% if page.author %}
                <span class="post-author"><a target="_blank" class="link-dark" href="https://www.facebook.com/{{ author.facebook }}" title="{{ author.display_name }}" rel="nofollow noopener">{{ author.display_name }}</a></span>
                {% endif %}
                <span class="dot"></span>
                <!-- Post Date -->
                <span class="post-date"><time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                <span class="dot"></span>
                <!-- Post Updated -->
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                <span class="dot"></span>
                <!-- Post Read -->
                <span class="post-read eta"></span>
                </p>
            </div>
            {% if site.adsense == "enabled" %}
            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
                {% include adsense-under-header.html %}
            <!-- End Adsense -->
            {% endif %}
            <!-- Post Featured Image -->
            <!--{% if page.image %}
            <link rel="preload" href="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.url }}/{{ page.image }}{% endif %}" as="image" />
            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid fade" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.url }}/{{ page.image }}{% endif %}" alt="{{ page.title }}" loading="lazy" decoding="async" itemprop="image" />
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.url }}/{{ page.image }}{% endif %}" alt="{{ page.title }}" itemprop="image" />
            {% endif %}
            {% endif %}-->
            <!-- End Featured Image -->
            <!-- Post Content -->
            <div class="article-post" itemprop="articleBody">
                <!-- Toc if any -->
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Table of contents</h3>
                        {% include toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=2 h_max=3 %}
                    </div>
                <!-- End Toc -->
                {{content}}
            </div>
            <!-- Rating -->
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
            </div>
            {% endif %}
            <!-- Post Categories -->
            <!--<div class="after-post-cats">
                <ul class="tags mb-4">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a class="smoothscroll" href="{{ site.url }}/categories#{{ category | replace: " ","-" }}" title="{{ category }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>-->
            <!-- End Categories -->
            <!-- Post Tags -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a class="smoothscroll" href="{{ site.url }}/tags#{{ tag | replace: " ","-" }}" title="{{ tag }}">{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Tags -->
            <!-- Prev/Next -->
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if page.previous.url %}
            <a href="{{ site.url }}{{page.previous.url}}" rel="prev" class="btn prev-post" title="{{page.previous.title}}">
				<i class="bi bi-arrow-left"></i>
				<span>{{page.previous.title}}</span>
			</a>
            {% endif %}
            {% if page.next.url %}
            <a href="{{ site.url }}{{page.next.url}}" rel="next" class="btn next-post" title="{{page.next.title}}">
				<span>{{page.next.title}}</span>
				<i class="bi bi-arrow-right"></i>
			</a>
            {% endif %}
            <div class="clearfix"></div>
            </div>
            <!-- End Categories -->
        </div>
        <!-- End Post -->
    </div>
</article>
<!-- End Article -->
<!-- Begin Comments -->
{% if page.comments != false %}
    <div class="container">
        <div id="comments" class="row justify-content-center mb-5">
            <div class="col-md-12">
                {% include disqus.html %}
            </div>
        </div>
    </div>
{% endif %}
<!--End Comments -->
<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: https://search.google.com/structured-data/testing-tool/u/0/ -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}
{% include share.html %}