---
layout: default
disqus: false
archive: false
post_class: post-template
---
<!-- Begin Article -->
<article class="container" itemscope itemtype="https://schema.org/Article">
    <div class="row">
        <!-- Post -->
        {% assign author = site.authors[page.author] %}
        {% assign sortedCategories = page.categories | sort %}
        <div class="col-md-12 flex-first flex-md-unordered">
            <div class="mainheading text-center">
                <!-- Post Title -->
                <h1 class="posttitle" itemprop="name">
                    {{ page.title }}
                </h1>
                <p>
                <!-- Post Author -->
                {% if page.author %}
                <span class="post-author">
                    <a class="link-dark" href="{{ site.url }}/author/{{ author.username }}" title="{{ author.display_name }}">
                        {{ author.display_name }}
                    </a>
                </span>
                {% endif %}
                <span class="dot"></span>
                <!-- Post Date -->
                <span class="post-date">
                    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">
                        {{ page.date | date_to_string }}
                    </time>
                </span>           
                {% if page.last_modified_at %}
                <span class="dot"></span>
                <!-- Post Updated -->
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
                    {{ page.last_modified_at | date: "%b %-d, %Y" }}
                </time>)
                {% endif %}
                <span class="dot"></span>
                <!-- Post Read -->
                <span class="post-read eta"></span>
                <span class="dot"></span>
                <!-- Post Cat -->
                <span class="post-cat">
                    {% for category in sortedCategories %}
                    <a class="link-dark" href="{{ site.url }}/categories#{{ category | replace: " ","-" }}" title="{{ category }}" rel="tag">
                    {{ category }}
                    </a>
                    {% endfor %}
                </span>
                </p>
            </div>
            {% if site.adsense == "enabled" %}
            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
                {% include adsense-under-header.html %}
            <!-- End Adsense -->
            {% endif %}
            <!-- Post Featured Image -->
            <!--{% if page.image %}
            <link rel="preload" href="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.url }}/{{ page.image }}{% endif %}" as="image" />
            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid fade" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.url }}/{{ page.image }}{% endif %}" alt="{{ page.title }}" loading="lazy" decoding="async" itemprop="image" />
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.url }}/{{ page.image }}{% endif %}" alt="{{ page.title }}" itemprop="image" />
            {% endif %}
            {% endif %}-->
            <!-- End Featured Image -->
            <!-- Post Content -->
            <div class="article-post" itemprop="articleBody">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
            <!-- Rating -->
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">
                    Rating by author:
                </strong> 
                {% include star_rating.html %}
            </div>
            {% endif %}
            <!-- Post Tags -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a class="smoothscroll" href="{{ site.url }}/tags#{{ tag | replace: " ","-" }}" title="{{ tag }}" rel="tag">
                            {{ tag }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Tags -->
            <!-- Prev/Next -->
            <div class="PageNavigation">
            {% if page.previous.url %}
            <a href="{{ site.url }}{{page.previous.url}}" rel="prev" class="btn prev-post" title="{{page.previous.title}}">
				<i class="bi bi-arrow-left"></i>
			</a>
            {% endif %}
            {% if page.next.url %}
            <a href="{{ site.url }}{{page.next.url}}" rel="next" class="btn next-post" title="{{page.next.title}}">
				<i class="bi bi-arrow-right"></i>
			</a>
            {% endif %}
            </div>
            <!-- Begin Comments -->
            {% if page.comments != false %}
            <link rel="preload" href="//{{site.disqus}}.disqus.com/embed.js" as="script" />
                <div id="comments" class="justify-content-center mb-5">
                    {% include disqus.html %}
                </div>
            {% endif %}
            <!--End Comments -->
            </div>
        </div>
        <!-- End Post -->
    </div>
</article>
<!-- End Article -->
{% include share.html %}
